<div class="container">
    <div class="jumbotron">
      <h1>What Is Fundamental Analysis?</h1>      
      <p>Fundamental analysis (FA) is a method of measuring a security's intrinsic value by examining related economic and financial factors.</p>
    </div>
    <h4>Key Notes:</h4>
    <li>Fundamental analysts study anything that can affect the security's value, from macroeconomic factors such as the state of the economy and industry conditions to microeconomic factors like the effectiveness of the company's management.</li>
    <li>The end goal is to arrive at a number that an investor can compare with a security's current price in order to see whether the security is undervalued or overvalued.</li>
    <li>Fundamental method of stock analysis is considered to be in contrast to technical analysis, which forecasts the direction of prices through an analysis of historical market data such as price and volume.</li>
    <li>Fundamental analysis is a method of determining a stock's real or "fair market" value.</li>
    <li>Fundamental analysts search for stocks that are currently trading at prices that are higher or lower than their real value.</li>
    <li>If the fair market value is higher than the market price, the stock is deemed to be undervalued and a buy recommendation is given.</li>
    <li>In contrast, technical analysts ignore the fundamentals in favor of studying the historical price trends of the stock.</li>      
  </div>

  


<!-- <header> </header>
<article></article>   
<section>
  
  
    <ul>Bellow are the helpful sites to refer</ul>

    <li><a>https://www.investopedia.com/terms/f/fundamentalanalysis.asp</a>InvestopediaWebsite</li>
    <li><a>https://www.benzinga.com/money/fundamental-analysis-courses/</a>Fundametal Analysis Course on Udymy </li>
    <li><a>https://medium.com/powrbot/8-free-tools-for-fundamental-analysis-e14472b23985</a>Tools for Fundamental Analysis</li>
    <li><a>https://www.dummies.com/personal-finance/investing/fundamental-analysis-for-dummies-cheat-sheet/</a>Dummies for What is fund Analysis</li>
</section> -->
<!-- <article> - Defines an independent, self-contained content
<aside> - Defines content aside from the content (like a sidebar) -->
<!-- <footer>Page-1</footer> -->
<!-- <details> - Defines additional details that the user can open and close on demand
<summary> - Defines a heading for the <details> element
 -->



<!-- <section class="statistics">
<div class="container-fluid">
<h1></h1>
<p>
<h1>Points to note:-</h1>
<p>
</div>
</section> -->
