<div class="container">
    <div class="jumbotron">
      <h1>What is a trend</h1>      
      <p>A trend is the general direction of the price of a market, asset, or metric.</p>
    </div>
    <div>
        <h4>Understanding Treands</h4>
      <p> A trend is the overall direction of a market or an asset's price. In technical analysis, trends are identified by trendlines or price action that highlight when the price is making higher swing highs and higher swing lows for an uptrend, or lower swing lows and lower swing highs for a downtrend. </p>
      <li> Uptrends are marked by rising data points, such as higher swing highs and higher swing lows.</li>
      <li> Downtrends are marked by falling data points, such as lower swing lows and lower swing highs.</li>
    <li>Many traders opt to trade in the same direction as the trend, attempting to profit from a continuation of that trend. </li>
    <li>Price action, trendlines, and technical indicators are all tools that can help identify the trend and warn when it is reversing.</li>
</div>
</div>
