<div class="container">
    <div class="jumbotron">
      <h1>Economic Moat</h1>      
      <p>Economic Moat is the competive advatage that one company has over other companiesin the Same industry.</p>
    </div>
    <h4>Understanding Economic Moat</h4>
    <div>
      <li>Economic Moat has distinct advantages as it clearly distinct a company over it's competitors. </li>
      <li>It is often an advantage that is difficult to mimic or duplicate (brand identity, patents) and thus creates an effective barrier against competition from other firms.</li>
      <li> For marketable security of publicly treaded comapnies, It is required to issue periodic financial information to the public to need the full knowldge requirement.</li>
    <li>Every successful company understands that the main threat to their continued success will be from competitors, and keeping them at bay is critical to sustaining their dominance. </li>
    <li>This is important not only to the company's bottom line but also to potential investors seeking to maximize their portfolios by including companies that will maintain their performance edge.</li>
    <li>The most obvious financial characteristics that companies with a wide economic moat have is that they usually generate large amounts of free cash flow and have a track record of strong returns.</li>
    <!-- <h4>How to Calculate Three Factor Model</h4>
    <img [src]="threefact" class="img-thumbnail" height= "300px" width="300px"> -->
</div>
</div>
