<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.web>
		<compilation defaultLanguage="c#" debug="true" />
	</system.web>
	<appSettings>
		<add key="ConnectionInfo" value="Data Source=DESKTOP-91R08GN\\VARAD; Initial Catalog=virtualTrader2; Integrated Security=True" />
	</appSettings>

</configuration>