<div class="container">
    <div class="jumbotron">
      <h1>Book Value Per Common Share - BVPS Definition</h1>      
      <p>The book value of a company is the difference between that company's total assets and total liabilities,This isnot company's share price in the market.</p>
    </div>
    <h4>What is Book Value Per Common Share?</h4>
    <div>
      <li>BVPCS is a method to calculate the per-share book value of a company based on common shareholders' equity in the company.</li>
      <li>the book value per common share indicates the dollar value remaining for common shareholders after all assets are liquidated and all debtors are paid.</li>
      <li> Since preferred stockholders have a higher claim on assets and earnings than common shareholders, 
          preferred equity is subtracted from shareholder’s equity to derive the equity available to common shareholders.</li>
    <li> If a company’s BVPS is higher than its market value per share, then its stock may be considered to be undervalued.</li>
</div>
</div>
