<div class="container">
    <div class="jumbotron">
      <h1>Price to Free Cash Flow</h1>      
      <p>Price to free cash flow is an equity valuation metric used to compare a company's per-share market price to its per-share amount of free cash flow (FCF).</p>
    </div>
    <div>
      <li>Price to free cash flow is an equity valuation metric that indicates a company's ability to generate additional revenues. It is calculated by dividing its market capitalization by free cash flow values. </li>
      <li>IA lower value for price to free cash flow indicates that the company is undervalued and its stock is relatively cheap. A higher value for price to free cash flow indicates an overvalued company.</li>
      <li> Price to free cash flow = market capitalization value / total free cash flow amount</li>
    <!-- <li>Every successful company understands that the main threat to their continued success will be from competitors, and keeping them at bay is critical to sustaining their dominance. </li>
    <li>This is important not only to the company's bottom line but also to potential investors seeking to maximize their portfolios by including companies that will maintain their performance edge.</li>
    <li>The most obvious financial characteristics that companies with a wide economic moat have is that they usually generate large amounts of free cash flow and have a track record of strong returns.</li>
     <h4>How to Calculate Three Factor Model</h4> -->
</div>
</div>

