<div class="container">
    <div class="jumbotron">
      <h1>What is Value Added Monthly Index</h1>      
      <p>A value added monthly index (VAMI) tracks the monthly performance of a hypothetical $1000 investment, assuming reinvestment, over a period of time.</p>
    </div>
    <div>
        <h4>Key Takeaway</h4>
      <li> VAMI is one of the most commonly used metrics to depict a fund's overall performance to investors.</li>
      <li> VAMI is calculated using NET monthly returns.</li>
    <li>A value added monthly index charts the total return gained by an investor over a specified period of time. It includes capital gains as well as reinvestment of any disbursements, such as dividends and additional interest earned through compounding. </li>
</div>
</div>
