<!--Cash Flow Pattern  -->
<div class="container">
    <div class="jumbotron">
      <h1>What is DUAL commodity Channel Index(DCCI)</h1>      
      <p>A dual commodity channel index (DCCI) is a tool used in technical analysis to identify when an asset or market is overbought or oversold. </p>
    </div>
    <div>
        <h4>Key Takeaway</h4>
        <li>A dual commodity channel index is constructed by graphing a smoothed commodity channel index line along with an unsmoothed commodity channel index line measuring the same commodity, currency, or financial security.</li>
        <li>Crossovers of the two lines indicate possible buy and sell signals, while subsequent breaks in the price trendline indicate definite entry and exit points.</li>
      <li> The dual commodity channel index is a technical analysis tool known as an oscillator, which is an index based on the value of a financial asset and constructed to oscillate between two extreme values.</li>
</div>
</div>

