<!--Engullffing Pattern -->
<div class="container">
    <div class="jumbotron">
      <h1>What is an Exponential Moving Average?(EMA)</h1>      
      <p>An exponential moving average (EMA) is a type of moving average (MA) that places a greater weight and significance on the most recent data points.  </p>
    </div>
    <div>
        <h4>Key Takeaway</h4>
        <li>The exponential moving average is also referred to as the exponentially weighted moving average.</li>
        <li>An exponentially weighted moving average reacts more significantly to recent price changes than a simple moving average (SMA), which applies an equal weight to all observations in the period.</li>
      <li> The EMA is a moving average that places a greater weight and significance on the most recent data points.  </li>
      <li> Like all moving averages, this technical indicator is used to produce buy and sell signals based on crossovers and divergences from the historical average.</li>
    <li>raders often use several different EMA lengths, such as 10-day, 50-day, and 200-day moving averages. </li>
</div>
</div>

