<div class="container">
    <div class="jumbotron">
      <h1>Three Factor Model</h1>      
      <p>The Fama and French Three-Factor Model (or the Fama French Model for short) is an asset pricing model developed in 1992. </p>
    </div>
    <h4>What is Three-Factor Model?</h4>
    <div>
      <li>The Fama French 3-factor model is an asset pricing model that expands on the capital asset pricing model by adding size risk and value risk factors to the market risk factors.</li>
      <li>This model considers the fact that value and small-cap stocks outperform markets on a regular basis.</li>
      <li> Since preferred stockholders have a higher claim on assets and earnings than common shareholders, 
          preferred equity is subtracted from shareholder’s equity to derive the equity available to common shareholders.</li>
    <li> The model is essentially the result of an econometric regression of historical stock prices.</li>
    <!-- <h4>How to Calculate Three Factor Model</h4>
    <img [src]="threefact" class="img-thumbnail" height= "300px" width="300px"> -->
</div>
</div>


