<div class="container">
    <div class="jumbotron">
      <h1>What is Candle-Stick Pattern</h1>      
      <p>Candlestick charts are used by traders to determine possible price movement based on past patterns.</p>
    </div>
    <div>
        <h4> Understanding Candlestick charts</h4>
      <p> Candlesticks show that emotion by visually representing the size of price moves with different colors. Traders use the candlesticks to make trading decisions based on regularly occurring patterns that help forecast the short-term direction of the price. </p>
      <li> Candlesticks are useful when trading as they show four price points (open, close, high, and low) throughout the period of time the trader specifies.</li>
      <li> Many algorithms are based on the same price information shown in candlestick charts.</li>
    <li>Trading is often dictated by emotion, which can be read in candlestick charts. </li>
</div>
</div>
