<div class="container">
    <div class="jumbotron">
      <h1>What is Trade Trigger</h1>      
      <p>A trade trigger is any event that meets the criteria to initiate an automated securities transaction that does not require additional trader input. </p>
    </div>
    <div>
        <h4>Key Takeaway</h4>
      <li>  A trade trigger is usually a market condition, such as a rise or fall in the price of an index or security, which triggers a sequence of trades. </li>
      <li> rade triggers are used to automate certain types of trades, such as the selling of shares when the price reaches a certain level.</li>
    <li>Often, trade triggers are placed using contingent orders involving both a primary and secondary order. </li>
    <li>By virtue of implementing guidelines identified by the trader, trade triggers can add a discipline component to the trading process.</li>
</div>
</div>
