<div class="container">
    <div class="jumbotron">
      <h1>Ways for Calculating EBITDA</h1>      
      <p>EBITDA stands for earnings before interest, taxes, depreciation, and amortization This is indicator of a company's financial performance.</p>
    </div>
    <h4>Formula to calculate EBITDA</h4>
    <div>
      <li>There are two formulas for calculating EBITDA. </li>
      <li>The first formula uses operating income as the starting point, while the second formula uses net income.</li>
      <br>
      <h4>First Formula:Operating Income </h4>
          <li>EBITDA=operating income+depreciation and amortization</li>
          <li>​Operating income is a company's profit after subtracting operating expenses or the costs of running the daily business.</li>
          <li>Operating income helps investors separate out the earnings for the company's operating performance by excluding interest and taxes.</li>
        <h4>Second Formula:Net Profit</h4>
            <li>EBITDA=net profit + interest + taxes + depreciationand amortization</li>
            <li>EBITDA formula result in different profit numbers in both Net profit and Operating income.This occur if companies have one-time adjustment by certain credits. </li>
    </div>
</div>

