<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="From" value="XXXXXXX@outlook.com"/>
		<add key="UserEmail" value="XXXXXXX@outlook.com"/>
		<add key="UserPassword" value="XXXX@XXXXXX"/>
		<add key="SMTPServer" value="smtp-mail.outlook.com"/>
	</appSettings>
</configuration>