<div class="container">
    <div class="jumbotron">
      <h1>Market Value</h1>      
      <p>Market Value is the price that investment community gives to perticular equity or business.</p>
    </div>
    <h4>What are Market Value</h4>
    <div>
      <li>Market value is also known as "Open maeket valuation"(OMV) or "Market capitalization" </li>
      <li>In public companies market capitalization is calculated by multiplying the number of it's oustanding shears by the current shear price.</li>
      <li> For marketable security of publicly treaded comapnies, It is required to issue periodic financial information to the public to need the full knowldge requirement.</li>
    <li>The requirement for publicy avaliable information is key to the integrity of a fair market system.</li>
    <!-- <h4>How to Calculate Three Factor Model</h4>
    <img [src]="threefact" class="img-thumbnail" height= "300px" width="300px"> -->
</div>
</div>



