<div class="container">
    <div class="jumbotron">
      <h1>Metrics</h1>      
      <p>Metrics are measures of quantitative assessment.</p>
    </div>
    <h4>What are Matrics</h4>
    <div>
      <li>Matrics are used for assessing, comparing and tracking performances or production of company.Group of metrics will typically be used to review performance assessments.</li>
      <li>With the help of performance matrics it is possible to compare growth of companies from two different industies.</li>
      <li> Metrics quantify the companies growth, production and efficiency which are essential factors to be consider for any investor.</li>
    <li>Popular Investor Metrics are:</li>
    <li>Price-to-earning</li>
    <li>Price-to-book</li>
    <li>Price/earning to growth ratio</li>
    <li>Debt-equity</li>
    <li>Free-cashFlow</li>
    <!-- <h4>How to Calculate Three Factor Model</h4>
    <img [src]="threefact" class="img-thumbnail" height= "300px" width="300px"> -->
</div>
</div>



