<div class="container">
    <div class="jumbotron">
      <h1>What is Technical Analysis</h1>      
      <p>echnical analysis is the study of the price movement and patterns of a security.</p>
    </div>
    <div>
      <li> Using insights from market psychology, behavioral economics, and quantitative analysis, technical analysts aim to use past performance to predict future market behavior. </li>
      <li> The two most common forms of technical analysis are chart patterns and technical (statistical) indicators.</li>
      <li> Technical analysis attempts to predict future price movements, providing traders with the information needed to make a profit</li>
    <li>Traders apply technical analysis tools to charts in order to identify entry and exit points for potential trades. </li>
    <li>An underlying assumption of technical analysis is that the market has processed all available information and that it is reflected in the price chart.</li>
</div>
</div>
