<!--5 Things to consider before investing in the Stock -->
<div class="container">
    <div class="jumbotron">
      <h1>What is Simple Moving Average(SMA)</h1>      
      <p>A simple moving average (SMA) calculates the average of a selected range of prices, usually closing prices, by the number of periods in that range.</p>
    </div>
    <div>
        <h4>Key Takeaway</h4>
        <li>A simple moving average (SMA) calculates the average of a selected range of prices, usually closing prices, by the number of periods in that range.</li>
        <li>A simple moving average is a technical indicator that can aid in determining if an asset price will continue or if it will reverse a bull or bear trend.</li>
      <li> A simple moving average can be enhanced as an exponential moving average (EMA) that is more heavily weighted on recent price action.</li>
</div>
</div>

