<hr>
<section class="statistics">
  <div class="container-fluid">
    <div class="row d-flex">
      <div class="col-lg-3">
        <!-- What is Technical Analysis-->
        <div class="card income text-center">
          <img [src]="techdef" routerLink = "/whatistech" class="img-thumbnail" height= "300px" width="300px">
          <strong  routerLink = "/whatistech" class= "text-success">What is Technical Analysis</strong>
        </div>
      </div>
      <div class="col-lg-3">
        <!-- What is trend-->
        <div class="card income text-center">
          <img [src]="img1" routerLink = "/Trend" class="img-thumbnail" height= "300px" width="300px">
          <strong routerLink = "/Trend" class= "text-success">Trends</strong>
        </div>
      </div>
      <div class="col-lg-3">
        <!--Candlestick pattern-->
        <div class="card income text-center">
          <img [src]="candleflow" routerLink = "/CandleStick" class="img-thumbnail" height= "300px" width="300px">
          <strong routerLink = "/CandleStick" class= "text-success"> Candle stick patterns</strong>
      </div>
    </div>
      <div class="col-lg-3">
        <!-- Area of Value-->
        <div class="card income text-center">
          <img [src]="areaOfVal" routerLink = "/AVinstockM" class="img-thumbnail" height= "300px" width="300px">
          <strong routerLink = "/AVinstockM" class= "text-success">Value Added Monthly Index</strong>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- <p>fund-analysis works!</p> -->
<hr/>
<section class="statistics">
  <div class="container-fluid">
    <div class="row d-flex">
      <div class="col-lg-3">
        <!-- Entry Trigger-->
        <div class="card income text-center">
          <img [src]="trigger" routerLink = "/whentotrigger" class="img-thumbnail" height= "300px" width="300px">
          <strong routerLink = "/whentotrigger" class= "text-success">When to trigger Entry in the Market</strong>
      </div>
    </div>
      <div class="col-lg-3">
        <!-- 5 things to study before Entering to stock market-->
        <div class="card income text-center">
          <img [src]="fivething" routerLink = "/fivethings" class="img-thumbnail" height= "300px" width="300px">
          <strong routerLink = "/fivethings" class= "text-success"> Simple Moving Average</strong>
      </div>
      </div>
      <div class="col-lg-3">
        <!-- Bullish Engulfing Patter-->
        <div class="card income text-center">
          <img [src]="Bulish" routerLink = "/engulffing" class="img-thumbnail" height= "300px" width="300px">
          <strong routerLink = "/engulffing" class= "text-success">Exponetial Moving Average (EMA)</strong>
      </div>
      </div>
      <div class="col-lg-3">
        <!-- Cash FlowChart Pattern-->
        <div class="card income text-center">
          <img [src]="chartpattern" routerLink = "/cashflowpattern" class="img-thumbnail" height= "300px" width="300px">
          <strong routerLink = "/cashflowpattern" class= "text-success">DUAL Commodity Channel Index(DCCI)</strong>
      </div>
      </div>
    </div>
  </div>
</section>

